@use "@rte-ds/core/design-tokens/main-internal.scss" as *;

.sideNavContainer {
  height: auto;
  padding: $positive-spacing_0;
  position: relative;
  display: flex;
  align-items: stretch;
  flex: 1;
}

.sideNavContent {
  flex: 1 1 auto;
  min-width: 0;
  overflow-y: auto;
}

.sideNav {
  background-color: var(--background-brand-navigation-default);

  flex: 0 0 auto;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  gap: $positive-spacing_0;
  box-sizing: border-box;
  border-radius: 0;
  transition: min-width 300ms;
  color: var(--content-brand-navigation-default);

  max-height: var(--content-height);

  &[data-appearance="neutral"] {
    background-color: var(--background-neutral-navigation-default);
    color: var(--content-secondary);
  }
}

.sideNavHeader {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.sideNavBody {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.sideNavFooter {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.sideNavProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $positive-spacing-100;
  padding: $positive-spacing-100 $positive-spacing-200;
  box-sizing: border-box;
  width: 100%;
  border-radius: $radius-s;
  transition: background-color 200ms;

  &[data-collapsed="true"] {
    justify-content: center;
    padding: $positive-spacing-100;
  }

  &[data-clickable="true"] {
    cursor: pointer;

    &:hover {
      background-color: var(--background-brand-navigation-hover);
    }

    &:active {
      background-color: var(--background-brand-navigation-pressed);
    }

    &:focus-visible {
      outline: $width-xs solid var(--border-brand-focused);
      outline-offset: -$width-xs;
    }
  }
}

.profileName {
  @include typography-button-m;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideNavTeamData {
  display: flex;
  flex-direction: column;
  padding: $positive-spacing-100 $positive-spacing-200;
  box-sizing: border-box;
  width: 100%;
}

.teamDataItem {
  display: flex;
}

.teamDataLabel {
  @include typography-text-m-regular;
  font-family: $heading-m-semibold-font-family;
  color: #456b95;
  width: 76px;
}

.teamDataValue {
  @include typography-text-m-regular;
  font-family: $heading-m-semibold-font-family;
}
